<main id="scraper" class="scraper">
  <div id="message" class="message"></div>
  <h1 id="scraper-heading" class="scraper-heading" style="display: block;">Fepper HTML Scraper</h1>
  <form id="html-scraper-targeter" action="/html-scraper" method="post" name="targeter">
    <div>
      <label for="url">URL:</label>
      <input name="url" type="text" value="" style="width: 100%;">
    </div>
    <div>
      <label for="selector">Target Selector:</label>
      <input name="selector" type="text" value="" style="width: 100%;">
    </div>
    <textarea name="html2json" style="display: none;"></textarea>
    <div class="cf" style="padding-top: 10px;">
      <input name="url-form" type="submit" value="Submit" style="float: left;">
      <button id="help-button" style="float: right;">Help</button>
      <button id="hide-button" style="float: right;display: none;">Hide</button>
    </div>
  </form>
  <script src="../../scripts/pattern/html-scraper-dhtml.js"></script>
  <div id="help-text" style="border: 1px solid black;visibility: hidden;margin-top: 5.50px;padding: 0 20px;width: 100%">
    <p></p>
    <p>Use this tool to scrape and import Mustache templates and JSON data files from actual web pages, preferably the actual backend CMS that Fepper is prototyping for. Simply enter the URL of the page you wish to scrape. Then, enter the CSS selector you wish to target (prepended with "#" for IDs and "." for classes). Classnames and tagnames may be appended with array index notation ([n]). Otherwise, the Scraper will scrape all elements of that class or tag sequentially. Such a loosely targeted scrape will save many of the targeted fields to the JSON file, but will only save the first instance of the target to a Mustache template.</p>
    <p>Upon submit, you should be able to review the scraped output on the subsequent page. If the output looks correct, enter a filename and submit again. The Scraper will save Mustache and JSON files by that name in your patterns' scrape directory, also viewable under the Scrape menu of the toolbar. The Scraper will correctly indent the Mustache code. However, the JSON parsing requires a conversion from HTML to XHTML, so don't expect an exact copy of the HTML structure of the source HTML.</p>
  </div>
</main>
